{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <article itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <header>
      <h1 itemprop="headline">{{ .Title }}</h1>
      <p class="muted">
        {{ partial "post/meta.html" . }}
      </p>
    </header>
    {{ if .Description }}
      <blockquote itemprop="description">{{ .Description }}</blockquote>
    {{ end }}
    {{ partial "toc-maybe.html" . }}
    <div itemprop="articleBody">
      {{ .Content }}
    </div>
    {{ if .Site.DisqusShortname }}
      <article>
        {{ template "_internal/disqus.html" . }}
      </article>
    {{ end }}
    <article>
    {{ partial "comments.html" . }}
    </article>
    <footer>
      <hr>
      {{ partial "post/byline.html" . }}
      {{ partial "post/related-content.html" . }}
    </footer>
  </article>
{{ end }}
{{ define "footer" }}
  {{ partial "powered-by.html" . }}
  {{ `<!-- post/single.html -->` | safeHTML }}
{{ end }}
