
<div id="gh-comments">
    <br/><br/>
    <h6>COMMENTS</h6>
    <div id="gh-comments-list"></div>
    <a href="javascript:void(0)" id="gh-load-comments" class="btn" style="display:none">Load more comments</a>
</div>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/github-comments.js"></script>
<script type="text/javascript">
    DoGithubComments({{ $.Params.ghcommentid }});
</script>
